body {
  font: 14px "Century Gothic", Futura, sans-serif; color: white;
  background: #333;
  margin: 20px;
}

ul {
  padding-left: 30px;
}

ol {
  float: right;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #333;
  border: 2px solid white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: white;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.margin-top-bottom{
    padding-top: 10px;
    padding-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
